.App {
  display: flex;
  flex-direction: column;
  
  color: #393A3B;

}

.header-block {
  background-color: #5c8ed8;
  height: 167px;
  padding-top: 5px;
}

.slice-box {
  position: relative;
  display: flex;
  justify-content: center;
  height: 15rem;
  width: 100%;
}
.slice {
  position: absolute;
  font-size: 15rem;
  line-height: 1.1;
  transition: transform 0.2s ease;
}

.slice-top {
  clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 0);
}

.slice-bottom {
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
}

.slice-box:hover .slice-top {
  transform: translateX(-30px);
}

.slice-box:hover .slice-bottom {
  transform: translateX(30px);
}

.information-block,
.footer-block {
  background-color: #DDE1E7;
  margin-top: 105px;
}

.search-form-block,
.word-block,
.noun-block,
.verb-block,
.gallery-block {
  border-radius: 20px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
  width: 1290px;
  padding: 40px;
  margin-top: 25px;
}

.footer-block {
  text-align: center;
  margin-bottom: 25px;
}
