.search-form-block,
.word-block,
.meaning-block,
.gallery-block {
    border-radius: 20px;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
    width: 1290px;
    padding: 40px;
    margin-top: 25px;
}

.word {
    margin-bottom: 15px;
    font-size: 35px;
}